<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>voice-factor</title>
    <link rel="stylesheet" href="https://cdn.auth0.com/styleguide/4.8.25/index.min.css" />

    <link href="./styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="jumbotron">
        <h2><img src="./logo.svg" /></h2>
        <h1>voice-factor</h1>
        <p>Multi-factor Authentication with VoiceIt.</p>
    </section>

    <form action="./continue" method="post" name="continue" id="continue">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{{ csrf }}}" />
        <input type="hidden" id="base_path" name="base_path" value="{{ basePath }}" />
    </form>

    {{{ template-start "tpl-enrollment" }}}
    <div class="content">
        <h2>Enrollment</h2>
        <div class="alert alert-global alert-warning" v-if="alert"><strong>Something bad just happened!</strong> \{{ alert }}</div>
        <p>Hi {{ userId }}, it was detected that you don't' have an active voice authentication enrollment. You'll need to enroll
            for voice authentication before continuing.</p>
        <p>The enrollment process requires you to repeat an authentication phrase four times.</p>

        <h3>Authentication Phrase</h3>
        <div>
            <pre>Remember to wash your hands before eating</pre>
        </div>

        <animated-recording-button v-bind:disabled="recording" v-on:start="start"></animated-recording-button>
        <div class="btn btn-default" v-on:click="cancel">CANCEL</div>
        <p>After pressing the start recording button and authorizing the browser to use your microphone (if applicable), you'll
            have four seconds to reproduce the phrase.</p>

        <audio ref="player" controls="controls">
            <source v-bind:src="previewRecordingUrl"></source>
        </audio>

        <p>Once the four seconds elapse you can review the recording before submitting.</p>
        <div class="btn btn-primary" v-bind:disabled="!previewRecordingUrl" v-on:click="submit">SUBMIT</div>

        <h3>Progress</h3>
        <div id="recordings" class="row">
            <div class="col-xs-6 col-md-3">
                <article class="card-docs" id="card-1">
                    <i class="card-docs-icon" v-bind:class="{ 'icon-budicon-471 orange': enrollments < 1, 'icon-budicon-470 green': enrollments >= 1 }"></i>
                    <h2 class="card-docs-title">Recording #1</h2>
                </article>
            </div>
            <div class="col-xs-6 col-md-3">
                <article class="card-docs" id="card-2">
                    <i class="card-docs-icon" v-bind:class="{ 'icon-budicon-471 orange': enrollments < 2, 'icon-budicon-470 green': enrollments >= 2 }"></i>
                    <h2 class="card-docs-title">Recording #2</h2>
                </article>
            </div>
            <div class="col-xs-6 col-md-3">
                <article class="card-docs" id="card-3">
                    <i class="card-docs-icon" v-bind:class="{ 'icon-budicon-471 orange': enrollments < 3, 'icon-budicon-470 green': enrollments >= 3 }"></i>
                    <h2 class="card-docs-title">Recording #3</h2>
                </article>
            </div>
            <div class="col-xs-6 col-md-3">
                <article class="card-docs" id="card-4">
                    <i class="card-docs-icon" v-bind:class="{ 'icon-budicon-471 orange': enrollments < 4, 'icon-budicon-470 green': enrollments >= 4 }"></i>
                    <h2 class="card-docs-title">Recording #4</h2>
                </article>
            </div>
        </div>
    </div>
    {{{ template-end }}}
    <!-- -->
    {{{ template-start "tpl-web-authentication" }}}
    <div class="content">
        <h2>Authentication</h2>
        <div class="alert alert-global alert-warning" v-if="alert"><strong>Something bad just happened!</strong> \{{ alert }}</div>
        <pre>Remember to wash your hands before eating</pre>
        <animated-recording-button v-bind:disabled="recording" v-on:start="start"></animated-recording-button>
        <div class="btn btn-default" v-on:click="cancel">CANCEL</div>
    </div>
    {{{ template-end }}}
    <!-- -->
    {{{ template-start "tpl-phone-authentication" }}}
    <div class="content">
        <h2>Phone Authentication</h2>
        <div class="alert alert-global alert-warning" v-if="alert"><strong>Something bad just happened!</strong> \{{ alert }}</div>
        <pre>Remember to wash your hands before eating</pre>
        <div class="btn btn-primary" v-on:click="start">REQUEST CALL</div>
        <div class="btn btn-default" v-on:click="cancel">CANCEL</div>
        <h3>Progress</h3>
        <ol class="progress-track">
            <li v-bind:class="{ 'progress-todo': progress.step < 0, 'progress-current': progress.step === 0, 'progress-done': progress.step >= 0 }">
                <center>
                    <div class="icon-wrap"> </div>
                    <span class="progress-text">CALL REQUESTED</span>
                </center>
            </li>
            <li v-bind:class="{ 'progress-todo': progress.step < 1, 'progress-current': progress.step === 1, 'progress-done': progress.step >= 1 }">
                <center>
                    <div class="icon-wrap"> </div>
                    <span class="progress-text">CALL INITIATED</span>
                </center>
            </li>
            <li v-bind:class="{ 'progress-todo': progress.step < 2, 'progress-current': progress.step === 2, 'progress-done': progress.step >= 2 }">
                <center>
                    <div class="icon-wrap"> </div>
                    <span class="progress-text">CALL IN PROGRESS</span>
                </center>
            </li>
            <li v-bind:class="{ 'progress-todo': progress.step < 3, 'progress-current': progress.step === 3, 'progress-done': progress.step >= 3 }">
                <center>
                    <div class="icon-wrap"> </div>
                    <span class="progress-text">RECORDING PHRASE</span>
                </center>
            </li>
            <li v-bind:class="{ 'progress-todo': progress.step < 4, 'progress-current': progress.step === 4, 'progress-done': progress.step >= 4 }">
                <center>
                    <div class="icon-wrap"> </div>
                    <span class="progress-text">AUTHENTICATING</span>
                </center>
            </li>
        </ol>
    </div>
    {{{ template-end }}}

    <div id="app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>

    <script src="./scripts.js"></script>
</body>

</html>